// COLORS
$color-primary: #36d812;
$color-primary-light: #37fc2c;
$color-primary-light-2: #f0fef4;
$color-primary-dark: #2aa90e;

$color-white: #f1f1f1;
$color-white-light: #fff;
$color-black: #333;
$color-grey: #555;
$color-grey-light: #ddd;

// RESPONSIVE BREAKPOINTS
$bp-medium: 81.25em;   // 1300px
$bp-small: 56.25em;    // 900px
$bp-smallest: 37.5em;    // 600px
$bp-tiny: 31.25em;      // 500px