@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.btn, .btn:link, .btn:visited {
  padding: 1.8rem 3rem;
  font-size: 1.5rem;
  background-color: #36d812;
  border-radius: 10rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .2s; }

.btn:hover {
  background-color: #2aa90e; }

.btn:focus {
  outline: none; }

.btn-page {
  font-size: 1.2rem;
  padding: 1rem 1.5rem; }
  .btn-page--prev {
    float: left;
    flex-direction: row-reverse; }
  .btn-page--next {
    float: right; }

.btn-add, .btn-remove {
  padding: 1.25rem 2rem; }

.btn-small {
  height: 3rem;
  width: 3rem;
  padding: .7rem .5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-shrink: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.3;
  font-weight: 400;
  color: #555;
  background-image: linear-gradient(to right bottom, #37fc2c, #36d812);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 3vw); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 40%; } }

::selection {
  background-color: #36d812;
  color: #fff; }

.container {
  max-width: 140rem;
  margin: 3vw auto;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2.2rem 5.5rem 1rem rgba(51, 51, 51, 0.3);
  display: grid;
  grid-template-rows: 15rem minmax(100rem, auto);
  grid-template-columns: 0.7fr 1.5fr 2.3fr;
  grid-template-areas: "head head head" "list food plan"; }
  @media only screen and (max-width: 81.25em) {
    .container {
      min-width: 100%;
      margin: 0;
      box-shadow: none;
      border-radius: 0; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 15rem minmax(10rem, min-content) minmax(100rem, auto);
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "head head head" "list list list" "food plan plan"; } }

.loader {
  margin: 6rem auto;
  text-align: center; }
  .loader__icon {
    display: block;
    font-size: 6rem;
    color: #36d812;
    animation: rotate 1.5s infinite linear; }

.header {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd; }
  .header__logo {
    height: 100%; }

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  transition: all .2s; }
  .search:focus-within {
    box-shadow: 0 1rem 2.5rem rgba(51, 51, 51, 0.2); }
  .search__input {
    padding-left: 3.2rem;
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.8rem;
    width: 35rem; }
    @media only screen and (max-width: 56.25em) {
      .search__input {
        width: 20rem; } }
    .search__input:focus {
      outline: none; }
    .search__input::placeholder {
      color: #ddd; }

.print {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  border-top-right-radius: 10px;
  transition: all .2s; }
  .print__icon {
    font-size: 5rem;
    padding: 3.5rem;
    color: #36d812;
    transition: all .2s; }
  .print:hover {
    background-color: #ddd; }
    .print:hover .print__icon {
      color: #2aa90e; }

.intro {
  padding: 2rem 1rem; }
  .intro__title {
    font-size: 3.5rem;
    margin-bottom: 2rem; }
  .intro__text {
    font-size: 1.6rem; }
  .intro__list {
    list-style: none; }
  .intro__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem; }
  .intro__number {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 2rem;
    margin-right: 1rem;
    border: 2px solid #36d812;
    border-radius: 50%; }

.results {
  grid-area: list;
  background-color: #fff;
  border-bottom-left-radius: 10px; }
  @media only screen and (max-width: 56.25em) {
    .results {
      display: flex;
      flex-direction: column; }
      .results__list {
        display: flex;
        flex-wrap: wrap; }
        .results__list li {
          width: 16.6666666%;
          border-right: 2px solid #f1f1f1; }
          .results__list li i {
            display: none; } }
  .results__list {
    list-style: none; }
    .results__list li {
      border-bottom: 2px solid #f1f1f1; }
  .results__pages {
    margin-top: 2rem; }
    .results__pages::after {
      content: "";
      display: table;
      clear: both; }
  .results__item {
    height: 100%; }
    .results__item:link, .results__item:visited {
      padding: 1.6rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: inherit;
      transition: all .2s; }
    .results__item:hover, .results__item--selected {
      background-color: #f1f1f1; }
      .results__item:hover .results__icon, .results__item--selected .results__icon {
        opacity: 1; }
  .results__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase; }
  .results__icon {
    font-size: 3rem;
    color: #36d812;
    opacity: 0;
    transition: opacity .2s; }

.food {
  grid-area: food;
  border-right: 2px solid #ddd; }
  .food__content {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(55, 252, 44, 0.7), rgba(42, 169, 14, 0.7)); }
  .food__title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase; }
  .food__calc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border-bottom: 2px solid #ddd; }
    @media only screen and (max-width: 56.25em) {
      .food__calc {
        flex-direction: column; } }
    .food__calc p {
      font-size: 2rem;
      padding-left: 0.5rem;
      padding-right: 1.5rem; }
  .food__input {
    height: 4rem;
    width: 15rem;
    font-size: 2rem;
    border: none;
    color: inherit;
    background-color: #fff;
    text-align: center;
    border-radius: 10rem;
    transition: all .2s; }
    .food__input:focus {
      outline: none;
      box-shadow: 0 1rem 2.5rem rgba(51, 51, 51, 0.2); }
  .food__heading {
    background-color: #f0fef4;
    font-weight: 400;
    font-size: 2rem;
    padding: .7rem .5rem; }
  .food__nutritient {
    font-size: 2rem;
    font-weight: 600;
    padding: .7rem .5rem;
    display: flex;
    background-color: #f0fef4;
    border-bottom: 2px solid #ddd; }
    .food__nutritient-title {
      flex-basis: 60%; }
      @media only screen and (max-width: 56.25em) {
        .food__nutritient-title {
          flex-grow: 1; } }
  .food__proximates-list, .food__minerals-list {
    list-style-type: none; }
  .food__item {
    display: flex;
    font-size: 1.5rem;
    padding: .7rem .5rem; }
    .food__item:nth-child(2n) {
      background-color: #ddd; }
    .food__item-name {
      flex-basis: 60%; }
      @media only screen and (max-width: 56.25em) {
        .food__item-name {
          flex-grow: 1; } }
    @media only screen and (max-width: 56.25em) {
      .food__item-count {
        margin-left: .5rem; } }
  .food-popout {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1rem 2.5rem rgba(51, 51, 51, 0.2);
    padding: 2rem;
    position: absolute;
    left: -20rem; }
    .food-popout__text {
      font-size: 1.6rem;
      margin-right: 1.5rem; }

.plan {
  grid-area: plan; }
  .plan__description, .plan__sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0fef4;
    font-size: 2rem;
    font-weight: 600;
    height: 7rem; }
  .plan__clear {
    display: flex;
    justify-content: center; }
  .plan__list {
    list-style-type: none; }
  .plan__food {
    width: 40%;
    padding: .7rem .5rem; }
  .plan__weight {
    text-align: center;
    width: 11rem;
    padding: .7rem .5rem; }
  .plan__proximate {
    text-align: center;
    width: 8rem;
    padding: .7rem .5rem; }
  .plan-popout {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1rem 2.5rem rgba(51, 51, 51, 0.2);
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .plan-popout__text {
      font-size: 1.6rem; }
    .plan-popout__buttons {
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-evenly; }

.nutritient {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  height: 7rem;
  border: 2px solid transparent; }
  .nutritient:nth-child(2n) {
    background-color: #ddd; }
  .nutritient--active {
    border: 2px solid #36d812;
    position: relative; }
  .nutritient__name {
    width: 40%;
    padding: .7rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .nutritient__options {
    display: flex;
    width: 11rem;
    padding: .7rem .5rem; }
  .nutritient__proximate {
    text-align: center;
    width: 8rem;
    padding: .7rem .5rem; }
  .nutritient__input {
    width: 8rem;
    padding: .7rem 0;
    font-size: 1.5rem;
    border: none;
    color: inherit;
    background-color: #fff;
    text-align: center;
    border-radius: 10rem;
    transition: all .2s; }
    .nutritient__input:focus {
      outline: none;
      box-shadow: 0 1rem 2.5rem rgba(51, 51, 51, 0.2); }

.sum {
  display: flex; }
  .sum__name {
    width: 40%;
    padding: .7rem .5rem; }
  .sum__all {
    text-align: center;
    width: 11rem;
    padding: .7rem .5rem; }
  .sum__proximate {
    text-align: center;
    width: 8rem;
    padding: .7rem .5rem; }

.footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #36d812; }

@media PRINT {
  body {
    visibility: hidden;
    min-height: fit-content; }
  .container {
    margin: 0;
    display: block; }
  .plan,
  .plan * {
    visibility: visible;
    background-color: none; }
  .plan__clear,
  .footer,
  .plan__clear *,
  .footer * {
    visibility: hidden; }
  .plan {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .btn-delete {
    display: none; }
  .plan__food,
  .nutritient__name,
  .sum__name {
    width: auto;
    flex-grow: 1; }
  .plan__description,
  .nutritient {
    border-bottom: 2px solid #ddd; } }
